body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 37px;
}

.dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  padding: 16px;
}

.tabcontent {
  display: none;
}

.tabcontent.visible {
  display: block;
}
.content button a{
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: brown;
}
.content button{
  border: none;
  width: 10%;
  height: 60px;
}
.content button a:hover{
  color: #e01b95;
  max-width: 40%;
  transition: 0.5s ease-in;
}
#contact a{
  text-decoration: none;
  font-weight: 800;
  font: 300;
  list-style: georgian;
  width: 30%;
  
}
#contact a:hover{
  color: #e01b95;
}
.contact-form{
  margin: 20px;
  flex-direction: column;
  height: 70vh;
}

.contact-form input{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}

.contact-form input .formm textarea{
  border: none;
  outline: none;
  width: 90%;
  padding: 10px;
  background: #555555;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
.contact-form textarea{
  resize: none;
  height: 200px;
  margin: 20px;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
}
.contact-form form .send{
  display: inline-block;
  padding: 12px 20px;
  background: #def ;
  font-size: 15px;
  color: #2b812b;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 500;
  opacity: 0;
  animation: slideTop 1s ease forwards ;
  animation-delay: 2s;
  box-shadow: 0 0 5px rgb(135, 166, 197), 0 0 25px rgb(122, 179, 236);
}
.contact-form form .send:hover{
  box-shadow: 0 0 05px cyan,
  0 0 025px cyan, 0 0 25px cyan, 
  0 0  25px cyan, 0 0 250px cyan;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropdown-content a {
      display: none;
  }
  .navbar a.icon {
      float: right;
      display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropdown-content a {
      display: block;
  }
}
